    Flask==0.9
    Flask-KVSession==0.3
    Flask-Script==0.5.1
    Jinja2==2.6
    httplib2==0.7.6
    py2app==0.6.3
    pyOpenSSL==0.13
    python-dateutil==1.5
    requests==0.14.0
    simplejson==2.6.1
    simplekv==0.5
    xattr==0.6.2
    remoteobjects==1.2.1
