/****** Skin: ******/

html {overflow-y: scroll;}

body {
	background: url("https://www.mozilla.org/media/img/sandstone/bg-gradient-sand.png") repeat-x scroll 0px 0px, url("https://www.mozilla.org/media/img/sandstone/bg-sand.png") repeat scroll 0px 0px, none repeat scroll 0% 0% rgb(245, 241, 232);
	font: 1em Arial, Helvetica, sans-serif;
	font-size: 16px
	
	
}

header {
	background: #AAAAAA;
	background-image: linear-gradient(rgb(136, 136, 136), rgb(170, 170, 170));
	border-bottom: 2px solid #999999;
	text-align: right;
	padding: 10px;
	margin: 1px;
}

header input[type="submit"] {
	
	color: black;
	border-style: hidden;
	min-width: 100px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5px;
	background-color: rgb(243, 243, 243);
	background-image: linear-gradient(rgb(250, 250, 250), rgb(243, 243, 243));
	font-size: 16px;
	padding: 5px;
	display: inline-block;
	margin: 10px;
}


div.wrapper {
	width: 960px;
	text-align: center;
	margin: 50px auto 30px auto;
}

div.wrapper.use-template {
	text-align: left;
}


ul,
ul li {
	margin: 0px;
	padding: 0px;
}

ul.actions {
	width: 960px;
	text-align: center;
	margin: 0px auto;
	list-style: none outside none;
}

ul.actions li {
	display: inline-block;
	margin: 0px 5px;
}

ul.actions li input {
	min-width: 100px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5px;
	background-color: rgb(243, 243, 243);
	background-image: linear-gradient(rgb(250, 250, 250), rgb(243, 243, 243));
	font-size: 16px;
	padding: 5px;
}

ul.actions li input:hover,
ul.actions li input:active {
	background-color: lightslategray;
	background-image: none;
}

ul.actions.use-template {
	text-align: left;
}

table,
tbody {
	border-width: 0px;
	margin: 0px auto;
}

tr.title {
	border: 1px solid rgb(221, 221, 221);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: rgb(243, 243, 243);
	background-image: linear-gradient(rgb(250, 250, 250), rgb(243, 243, 243));
}

tr {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
}

th {
	color: rgb(51, 51, 51);
	font-size: 20px;
	padding: 10px;
}

td {
	text-align: left;
	font-size: 20px;
	padding: 10px;
}

h2 {
	font-size: 20px;	
}