{% extends "base.html" %}
{% block body %}
  {% if 'username' in session %}
    <form action="{{ url_for('create_query') }}" method=post>
      <dl>
        <dt>
          Query Name:
        </dt>
        <dd>
          <input class="form-control" type=text name=query_name>
        </dd>

        <dt>
          Query Channel:
        </dt>
        <dd>
          <input class="form-control" type=text name=query_channel>
        </dd>

        <dt>
          Query URL:
        </dt>
        <dd><textarea class="form-control" name=query_url rows=5></textarea>
          <br>
        </dd>

        <dd>
          <button class="btn btn-success" type="submit">
            Save
          </button>
        </dd>
      </dl>
    </form>
  {% endif %}
{% endblock %}

