{% extends "base.html" %}
{% block body %}
  <div class="wrapper use-template">
    {% if 'username' in session %}
      <form action="{{ url_for('create_template') }}" method=post>
          <p> 
            <h3>Template Title:</h3>
            <dd>
              <input class="form-control" type=text size=30 name=template_title>
            </dd>
          </p>
          
          <p> 
            <h3>Template Body:</h3>
            <dd>
              <textarea class="form-control" name=template_body rows=20></textarea>
            </dd>
          </p>
          
          <p>
            <dd>
              <button class="btn btn-success" type="submit">
                Save
              </button>
            </dd>
          </p>
      </form>
    {% endif %}
  </div>
{% endblock %}

