{% extends "base.html" %}
{% block body %}
	<div class="row">
		<div class="col-md-4">
			<form action="{{url_for('index')}}" method="post">
				<p>Username:<br />
				<input class="form-control" type="text" name="username" /></p>
				
				<p>Password:<br />
				<input class="form-control" type="password" name="passwd" /></p>
				
				<p>
					<button class="btn btn-primary" type="submit">
						Submit
					</button>
			</form>
		</div>
	</div>
	{% with messages = get_flashed_messages() %}
		{% for message in messages %}
			{{message}}
		{% endfor %}
	{% endwith %}
{% endblock %}
