{% extends "base.html" %}

{% block body %}
	
	{% if 'username' in session %}
		<p>Welcome back {{session['username']}}! </p>
		<form action="{{url_for('index')}}" method="post">	
			<input type="submit" name="logout" value="logout"/>
		</form>
		<form name="template" action="{{url_for('show_templates')}}" method="post">
		<ul class= list_templates>
		<table id="template_list" rules="rows" border="1" width="400" >
		<tbody><tr>
		<th width="5%"><input id="checkAllTemplates" onclick="toggleTemplateCheckBoxes(this)" type="CHECKBOX"></th> 
		<th width="95%" align="left">Template Name</th> 
		
		{% for template in list_templates %}
		</tr><tr><td width="5%"><input value={{ template.template_id }} type="CHECKBOX" name="template_id" ></td>
		<td width="95%">{{ template.template_title }}</td>
		
		{% else %}
		<li><em>Unbelievable.  No templates here so far</em>
		{% endfor %}
		</ul>
		</tr>
	
		</tbody></table>
		<table>
		<p></p>
		<p></p>
		<input type="button" name="use_template" onclick="validateUse('use_template')" value="Use"/>
		<input type="button" name="delete_template" onclick="validateDelete('delete_template')" value="Delete"/>
		<input type="button" name="edit_template" onclick="validateEdit('edit_template')" value="Edit"/>
		<input type="submit" name="create_template" value="Create New Template"/>
		<input type="hidden" id="buttonclicked" name="buttonclicked">
			</table>
		</form>	
	{% else %}
	<p>A login is required:</p>
	<form action="{{url_for('index')}}" method="post">
		<p>Username:<br />
		<input type="text" name="username" /></p>
		<p>Password:<br />
		<input type="password" name="passwd" /></p>
		<p><input type="submit" value="submit" /></p>
	</form>
	{% endif %}
	
		{% with messages = get_flashed_messages() %}
					{% for message in messages %}
								{{message}}
					{% endfor %}
		{% endwith %}
{% endblock %}
