{% extends "base.html" %}
{% block body %}
  <h3>Select checkbox to send Email </h3>
  <form action="{{ url_for('show_message') }}" method=post>
    <table class="table">
      <thead>
        <th>Send?</th>
        <th>Message</th>
      </thead>
      <tbody>
        {% for msg in send_msg %}
          <tr>
            <td width="5%" align="left">
              <input value={{loop.index}} type="CHECKBOX" name="messageid" >
            </td>
            <td width="95%">
              <textarea class="form-control" name= {{loop.index}} rows=25>{{msg}}</textarea>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <textarea name="manual_notify" style="display:none;">{{manual_notify}}</textarea>
    
    <br>

    <button class="btn btn-success" name="Send" type="submit">
      Send
    </button>
  </form>
{% endblock %}


