{% extends "base.html" %}

{% block body %}
	{% if 'username' in session %}
		<form name="query" action="{{url_for('show_queries')}}" method="post">
			<div class="well">
				<table class="table table-hover" id="query_list">
					<thead>
                        <tr>
	                        <th width="5%">
								<input id="checkAllQueries" onclick="toggleQueryCheckBoxes(this)" type="CHECKBOX">
							</th> 
							<th width="95%">
								Query Name
							</th> 
						</tr>
                    </thead>
					<tbody>
						{% for query in queries %}
							<tr>
								<td width="5%">
									<input value={{ query.query_id }} type="CHECKBOX" name="query_id">
								</td>
								<td width="95%">
									{{ query.query_name }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td></td>
								<td>
									Unbelievable.  No queries here so far
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			<div class="btn-group">
				<button type="button" class="btn btn-default" name="use_query" onclick="validateUseQuery('use_query')">
					Use
				</button>
				<button type="button" class="btn btn-default" name="delete_query" onclick="validateDeleteQuery('delete_query')">
					Delete
				</button>
				<input type="hidden" id="querybuttonclicked" name="querybuttonclicked">
				<button type="submit" class="btn btn-default" name="create_query" value="Create New Query">
					Create New Query
				</button>
			</div>
		</form>
	{% else %}
		<p>A login is required:</p>
		<form action="{{url_for('index')}}" method="post">
			<p>Username:<br />
			<input type="text" name="username" /></p>
			<p>Password:<br />
			<input type="password" name="passwd" /></p>
			<p><input type="submit" value="submit" /></p>
		</form>
	{% endif %}
	
	{% with messages = get_flashed_messages() %}
		{% for message in messages %}
			{{message}}
		{% endfor %}
	{% endwith %}
{% endblock %}