{% extends "base.html" %}
{% block body %}
  <div class="use-template">
    {% for template in selected_template %}
      <form action="{{url_for('use_template')}}" method="post">
        <h3>Template Title: {{ template.template_title }}</h3>
        
        <h3>Template Body: </h3>
        <textarea class="form-control" name=template_body rows=15>{{ template.template_body|safe }}</textarea>

        <br>
        
        <button class="btn btn-default" type=submit name="Next">
          Next <i class="fa fa-forward"></i>
        </button>

      </form>
    {% else %}
      <em>Unbelievable.No templates here so far</em>
    {% endfor %}
  </div>
{% endblock %}

